   # Dependencies
   /node_modules
   /.pnp
   .pnp.js

   # Testing
   /coverage

   # Production
   /build

   # Misc
   .DS_Store
   movie-database-backend/.env
   movie-database-backend/.env.local
   movie-database-backend/.env.development.local
   movie-database-backend/.env.test.local
   movie-database-backend/.env.production.local

   npm-debug.log*
   yarn-debug.log*
   yarn-error.log*