.movieCard {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.movieCard:hover {
    transform: scale(1.07);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5);
}

.poster {
    width: 100%;
    height: auto;
    display: block;
}

.titleContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
}

.title {
    margin: 0;
    font-size: 1rem;
    text-align: center;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.releaseDate {
    margin: 5px 0 0;
    font-size: 0.8rem;
    color: #ccc;
}

.rating {
    position: absolute;
    bottom: 80px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #f39c12;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 0.9rem;
}

.favoriteButton, .watchlistButton {
    position: absolute;
    top: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-size: 1.5rem;
}

.favoriteButton {
    right: 10px;
}

.watchlistButton {
    left: 10px;
}

.favoriteButton:hover, .watchlistButton:hover {
    background-color: rgba(0, 0, 0, 0.9);
    transform: scale(1.1);
}

.iconTransition {
    transition: transform 0.3s ease, color 0.3s ease;
}

.iconTransition.active {
    transform: scale(1.2);
}

.favoriteIcon {
    color: white;
}

.favoriteIcon.active {
    color: gold;
}

.watchlistIcon {
    position: relative;
    width: 24px;
    height: 24px;
}

.watchlistIcon::before,
.watchlistIcon::after {
    content: '';
    position: absolute;
    background-color: white;
    transition: all 0.3s ease;
}

.watchlistIcon::before {
    top: 50%;
    left: 0;
    right: 0;
    height: 4px;
    transform: translateY(-50%);
}

.watchlistIcon::after {
    top: 0;
    left: 50%;
    bottom: 0;
    width: 4px;
    transform: translateX(-50%);
}

.watchlistIcon.active::before {
    transform: translateY(-50%) rotate(180deg);
}

.watchlistIcon.active::after {
    transform: translateX(-50%) scaleY(0);
}

/* .watchlistIcon.active {
    color: #4CAF50;
} */